<title>Profissionais</title>

<!-- About Section-->
<section class="page-section mb-0" id="remedesc">
    <div class="container">
        <!-- About Section Heading-->
        <br />
        <br />
        <br />
        <br />
        <h2 class="page-section-heading text-center text-uppercase">Profissionais próximos</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row" align="center">
            <div class="col-lg ml-auto" align="center"><p class="lead">Veja quais os profissionais da área que estão mais próximos de você.</p></div>

        </div>
        <!--Botão de Download-->
        @*<div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/"><i class="fas fa-download mr-2"></i>Free Download!</a>
            </div>*@


    </div>

    <div class="img-fluid">
        <img class="img-fluid" src="~/assets/img/adicionais/maps.png" alt="Maps" align="middle" />
        <figcaption>Maps Teste</figcaption>
    </div>
</section>